@import url("https://api.fontshare.com/v2/css?f[]=satoshi@300,400,500,700&display=swap");

.desk-info h1 {
  font-family: "Gerbill", sans-serif;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 4%;
}
.desk-info {
  width: 50%;
}
#read {
  font-weight: 800;
  font-family: "Satoshi", sans-serif;
}
#read:hover {
  color: #4b6bfb;
  cursor: pointer;
}
.desk-info h3 {
  font-size: 18px;
  row-gap: 6px;
  font-family: "Satoshi", sans-serif;
  font-weight: 100;
  margin-bottom: 4%;
}
.desk-info span {
  background: #dbe6df;
  padding: 2px 14px;
  border-radius: 18px;
  font-weight: 700;
}
@font-face {
  font-family: "Gerbill";
  src: url("../assets/fonts/gerbil.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
