.para-1 {
  margin: 5% 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.para-2 {
  margin: 5% 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10%;
}
